* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
  --bg-color: rgb(250, 186, 186);
  --border-color: rgb(198, 73, 73);
  --sidebar-color: #1992d4;
  --sidebar-txt-clr: #fff;
}

body {
  display: grid;
  grid-template: "sidebar  header" 180px
                 "sidebar article" auto / clamp(200px, 25%, 300px) auto;
  gap: 10px;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.header {
  grid-area: header;
  display: grid;
  padding: 10px 30px;
  gap: 10px;
}

.upper-header,
.lower-header,
.top-right,
.userlinks,
.header-buttons,
.sidebar-wrapper,
.box-container,
.projects,
.announcements,
.trending,
.container,
.project {
  display: grid;
}

.upper-header {
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.looking-glass {
  height: 20px;
  line-height: 20px;
  width: 20px;
  margin-right: 10px;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.looking-glass>svg {
  height: 20px;
}

input[type="search"] {
  width: 90%;
  height: 24px;
  border-radius: 20px;
  border: none;
  padding: 5px;
  margin-right: 20px;
  font-size: 0.85rem;
}

input:focus {
  outline: none;
  box-shadow: 1px 1px 2px gray;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbar {
  place-self: center start;
  width: min(520px, 100%);
}

.top-right {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-self: end;
  gap: 20px;
  place-items: center;
}

a.notifications svg {
  height: 24px;
  width: 24px;
}

.username > p,
.greeting > p {
  font-weight: bold;
}

.greeting > p:first-child {
  font-size: 0.7rem;
}

.greeting > p:last-child {
  font-size: 1.5rem;
}

.large-avatar img {
  height: 60px;
  width: 60px;
}

.small-avatar img {
  height: 40px;
  width: 40px;
}

.small-avatar img,
.large-avatar img {
  border-radius: 50%;
  transition: transform 0.15s;
}

.small-avatar img:focus,
.large-avatar img:focus,
.small-avatar img:hover,
.large-avatar img:hover {
  filter: brightness(110%);
  transform: scale(105%);
}

.lower-header {
  grid-template-columns: 1fr 1fr;
}

.userlinks {
  grid-template-columns: 1fr 3fr;
  place-self: center start;
  place-items: center;
  gap: 10px;
}

.header-buttons {
  place-self: center end;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.header-buttons > button {
  background-color: dodgerblue;
  color: rgb(246, 249, 252);
  border-radius: 28px;
  border: none;
  width: 100px;
  height: 36px;
  cursor: pointer;
}

.header-buttons > button:hover {
  background-color: blue;
  box-shadow: 1px 1px 2px blue;
}

.header-buttons > button:active {
  background-color: blueviolet;
  box-shadow: inset 1px 1px 2px blueviolet;
}

.sidebar {
  grid-area: sidebar;
  background-color: var(--sidebar-color);
  color: var(--sidebar-txt-clr);
}

.main {
  grid-area: article;
}

.header,
.main {
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
}

.side-logo {
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-logo svg {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--sidebar-txt-clr);
}

.side-logo.big svg {
  width: 32px;
  height: 32px;
}

.sidebar-wrapper {
  gap: 30px;
  padding: 20px;
}

.dashboard-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 40px;
}

.dashboard-item:hover,
.dashboard-item:focus,
.dashboard-item:hover svg,
.dashboard-item:focus svg {
  background-color: white;
  color: var(--sidebar-color);
  fill: var(--sidebar-color);
}

.dashboard-item p {
  font-size: 1.2rem;
  font-weight: bold;
}

.dashboard-item.top p {
  font-size: 1.5rem;
}

.dashboard-item > div {
  margin-right: 10px;
}

.box-container {
  grid-template-columns: 3fr 1fr;
  padding: 20px;
  gap: 20px;
}

.projects {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 28px;
  justify-items: start;
  gap: 20px;
}

.aside {
  grid-column-end: -1;
}

.announcements,
.trending {
  gap: 20px;
}

.announcements,
.projects {
  margin-bottom: 40px;
}

.container {
  gap: 20px;
}

.project p,
.announcement p {
  color: #898989;
}

.projects h2 {
  grid-column: 1 / -1;
}

.project {
  height: 220px;
  /* width: 340px; */
  align-content: start;
  grid-template-rows: 1fr 6fr 1fr 2fr;
}

.project .images {
  place-self: end;
  display: flex;
  width: 120px;
  justify-content: space-between;
  grid-row-end: -1;
}

.notifications svg,
.images img {
  width: 24px;
  height: 24px;
  transition: transform 0.15s;
  opacity: 0.7;
}

.notifications svg:hover,
.images img:hover {
  transform: scale(115%);
  opacity: 1;
}

.container,
.project {
  background-color: aliceblue;
  border: none;
  border-radius: 5px;
  padding: 30px;
}

.aside .announcement {
  /* padding: 10px; */
  font-size: 0.8rem;
}

.aside .announcement:not(:last-child)::after {
  content: '';
  display: block;
  position: relative;
  width: 100%;
  border: 0.5px solid #898989;
  margin-top: 20px;
}

.trend {
  display: flex;
  font-size: 0.9rem;
  align-items: center;
}

.trend .info {
  margin-left: 10px;
}

.trend img:focus,
.trend img:hover {
  transform: none;
}

.app {
  font-size: 0.8rem;
  color: #898989;
}