* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
  --bg-color: rgb(250, 186, 186);
  --border-color: rgb(198, 73, 73);
}

body {
  display: grid;
  grid-template: "sidebar  header" 120px
                 "sidebar article" auto / clamp(200px, 25%, 300px) auto;
  gap: 10px;
  min-height: 100vh;
}

.header {
  grid-area: header;
  display: grid;
  padding: 10px;
}

.upper-header,
.lower-header,
.userlinks,
.header-buttons,
.sidebar-wrapper {
  display: grid;
}

.upper-header {
  grid-template-columns: 5fr 1fr 1fr 1fr;
  place-items: center;
}

input[type="search"] {
  width: 90%;
}

.searchbar {
  place-self: center start;
  width: min(480px, 100%);
}

.lower-header {
  grid-template-columns: 1fr 1fr;
}

.userlinks {
  grid-template-columns: 1fr 3fr;
  place-self: center start;
  gap: 10px;
}

.header-buttons {
  place-self: center end;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: article;
}

.header,
.sidebar,
.main {
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
}

.sidebar-wrapper {
  gap: 30px;
  padding: 10px;
}

.dashboard-item {
  display: flex;
  flex-wrap: wrap;
}

.dashboard-item>div {
  margin-right: 10px;
}

div>.dashboard-item:not(:last-child) {
  margin-bottom: 16px;
}